.container{
  padding-top: 3em; 

}



.resume{
 padding-top: 200px;
 padding-left: 300px;
   
}


footer{
  height: 3em;
  width: 99999em;
  background-color: rgb(239, 255, 204);

}

.container-fluid{
 background-color: rgb(207, 225, 255);
height: 6em;
width: 9999em;
}

.navbar{
 background-color: rgb(207, 225, 255);
height: 1em;
width: 9999em;
 text-align: center;
}

.card-body{
  height: 15em;
  width: 12em;
 
}
.simpson{
  background-color: brown;
}
#carouselExampleCaptions{
  padding-top: 3em;
  padding-bottom: 2em;
}

.carousel-item img {
  height: 23em; 
  width: 60%;  
  object-fit: cover; 
  object-position: center; 
}

h2{
    text-align: center;
}

hr{
  background-color: brown;
  size: 2em;
}